
*.exe
*.pdb
*.dll
/.metals
/bin/Debug
/obj
*.cache
/Hypermc/mod-pack/
/mods
/Hypermc_TemporaryKey.pfx
/Hypermc.csproj.user
/Hypermc.pdb
/Hypermc.exe.config
/Hypermc.sln
source/mod-pack/
.vs/Hypermc/v16/.suo
source/Hypermc.csproj.user
source/obj/Debug/net5.0-windows/Hypermc.csproj.FileListAbsolute.txt
/Old